# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cextensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Database SQLite local
Backend/bakesbangpol.db
*.db
*.sqlite3

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
